<form action="/users" method="POST">
  <p>
    <label name="username">username:</label>
    <input name="username" type="text" />
  </p>
  <p>
    <label name="password">password:</label>
    <input name="password" type="password" />
  </p>
  <p>
    <input type="submit"/>
  </p>
</form>
